#components-layout-demo-side {
    height: 32px;
    margin: 16px;
    background: #ffffffbd;
}
  
.site-layout .site-layout-background {
    background: #EFF3FD;
}

.sideBar {
    background: #ffffff;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5%;
}

.ant-menu-item-selected {
    color: #00DEA3 !important;
}

.menuFooter{
    background-color: #00DEA3;
    border-radius: 20%;
    margin: 9px;
    padding: 15px;
    width: 90%;
    text-align: center;
    position: absolute;
    bottom: 5%;
}

.SignOutButton {
    margin-bottom: 15%;
    width: 70% !important;
    margin-left: 10%;
    background-color: #3D8B9C;
    border: none;
    color: #ffffff;
}

.ant-btn:hover, .ant-btn:focus {
    color: #00DEA3;
  }

.Header {
    /* background: #00DEA3;  */
    padding-top: 15px; 
    margin: 15px auto;
}
.WelcomeMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Avatar {
    width: 40px;
    border-radius: 20%;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.NotificationArea {
    display: flex;
    position: absolute;
    right: 0;
    top: 5px;
    flex-direction: row;
    width: 25%;
    justify-content: end;
    align-items: center;
    align-content: flex-start;
}

#Name{

    /* width: 287px;
    height: 43px; */
    font: 'Abel';
    font-weight: 500;
    font-size: 22px;
    line-height: 5px;
    
    
}

#loginDetails{
    margin-top: -12px;
    padding: 0;
}

.CourseBoxes{
    background-color: #ffffff;
    margin: 5%;
    padding: 10px;
    /* height: 30vh; */
    margin-bottom: 2%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    height: fit-content;
    /* box-shadow: 1px 2px 9px #F4AAB9; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, #F4AAB9 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.twoBoxes{
    justify-content: space-evenly;
    object-fit: contain;
}